/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  color: #030303;
  text-align: center;
}

a {
  color: #48def8;
  text-decoration: none;
}


