/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  color: #030303;
  text-align: justify;
}

a {
  color: #48def8;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: rgba(111, 219, 205, 0.9);
}

#header .logo h1 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px; 
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#header .logo h1 a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px 7px 15px;
  margin-left: 5px;
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  border-radius: 50px;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover, .navbar .active, .navbar li:hover > a {
  background: #78ccdb;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 5px;
  top: calc(100% + 30px);
  margin: 5px  0 0 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: rgb(138, 245, 227);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 15px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  color: #2a2c39;
  margin: 0 5px;
  font-size: 14px;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #fff;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Responsive Navigation 
*/
.responsive-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .responsive-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-responsive{
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(111, 219, 205, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-responsive.responsive-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-responsive ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-responsive a {
  padding: 10px 20px;
  margin: 5px;
  font-size: 15px;
  color: #78ccdb;
}

.navbar-responsive a:hover, .navbar-responsive .active, .navbar-responsive li:hover > a {
  color: #fff;
}

.navbar-responsive .getstarted {
  margin: 15px;
}

.navbar-responsive .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(111, 219, 205, 0.9);
}

.navbar-responsive .dropdown ul li {
  min-width: 200px;
}

.navbar-responsive .dropdown ul a {
  padding: 10px 20px;
}

.navbar-responsive .dropdown ul a i {
  font-size: 12px;
}

.navbar-responsive .dropdown ul a:hover, .navbar-responsive .dropdown ul .active:hover, .navbar-responsive.dropdown ul li:hover > a {
  color: #fff;
}

.navbar-responsive .dropdown > .dropdown-active {
  display: block;
}
