/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

/* Font decoration */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  color: #030303;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  background-color: #DDE4E6;
}

a {
  color: #48def8;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-mcqj{font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-73oq{text-align:left;vertical-align:top}
@media screen and (max-width: 2000px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}

/*--------------------------------------------------------------
# Roles
--------------------------------------------------------------*/
.dabutton:focus {
  background-color:#DCD8D0;
}



/*--------------------------------------------------------------
# For Button
--------------------------------------------------------------*/

button.dabutton {
  padding: 15px 32px;
} 

Button.next a {
  color:black;
}

Button.next {
  background-color: #76a291;
  padding: 15px 32px;
  float:right;
  font-size: 14pt;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  margin-bottom: 30px;
  margin-left: 10px;
  border-radius: 12px;
}

#myFile {
  font-size: 1.25em;
  font-weight: 700;
  color: black;
  display: inline-block;
  align-items: center;
  padding: 8px 12px; 
  cursor: pointer;
  border-radius: 4px;
  background-color: #b9c4c9;
  font-size: 16px;
} 

#myFile1 {
  font-size: 1.25em;
  font-weight: 700;
  color: black;
  align-items: center;
  padding: 8px 12px; 
  cursor: pointer;
  border-radius: 4px;
  background-color: #b9c4c9;
  font-size: 16px;
  display:none;
}

#bttn {
  padding: 6px;
  font-size: 12pt;
  background-color: #cfdbce;
<<<<<<< HEAD
  font-family: 'Bebas Neue', cursive;
=======
>>>>>>> 6a383dd1c149ade6180e78889abb5019a09fab5c
}

#summary {
  padding: 6px;
  background-color: #cfdbce;
  font-size: 12pt;
  border-radius: 12px;
  font-family: 'Bebas Neue', cursive;
}

#myFile {
  font-size: 1.25em;
  font-weight: 700;
  color: black;
  display: inline-block;
  align-items: center;
  padding: 8px 12px; 
  cursor: pointer;
  border-radius: 4px;
  background-color: #b9c4c9;
  font-size: 16px;
} 

#myFile1 {
  font-size: 1.25em;
  font-weight: 700;
  color: black;
  align-items: center;
  padding: 8px 12px; 
  cursor: pointer;
  border-radius: 4px;
  background-color: #b9c4c9;
  font-size: 16px;
  display:none;
}

#bttn {
  padding: 6px;
  font-size: 12pt;
  background-color: #cfdbce;
}

#summary {
  padding: 6px;
  background-color: #cfdbce;
  font-size: 12pt;
}


/*--------------------------------------------------------------
# for upload function
--------------------------------------------------------------*/
.upload {
  border: 4px solid black;
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #cedadb;
}

.text {
  font-size: 15pt;
}


/*--------------------------------------------------------------
# query
--------------------------------------------------------------*/
Button.filter {
  float: left;
  padding: 10px 20px;
  font-size: 14pt;
  border-radius: 12px;
}

Button.clear {
  float: right;
  padding: 10px 20px;
  font-size: 14pt;
  border-radius: 12px;
  display:none
}

.query {
  margin-left: auto;
  margin-right: auto;
}

.search {
  padding: 10px 20px;
  font-size: 14pt;
  background-color: burlywood;
}

.enter {
  padding: 10px 20px;
  font-size: 14pt;
}

.radio {
  border: 3px solid black;
  font-size: 14pt;
  padding: 10px 20px;
  display: none;
  background-color: #d7d6d6;
}

#_year {
  margin: 6px;
  padding: 5px;
}


#_semester {
  margin: 6px;
  padding: 5px;
}

#_unit {
  padding: 5px;
  font-size: 10pt;
  margin: 6px;
}


Button.comment {
  float: right;
  padding: 10px 20px;
  font-size: 14pt;
  border-radius: 12px;
}

/*--------------------------------------------------------------
# chart
--------------------------------------------------------------*/

.chart {
  margin-left: auto;
  margin-right: auto;
}

#stack.chart {
  border: 3px solid black;
  border-radius: 4px;
}

#barchart.chart {
  border: 3px solid black;
  border-radius: 4px;
}

#horizontal.chart {
  border: 3px solid black;
  border-radius: 4px;
}

/*--------------------------------------------------------------
# table, need to change size of table according to size of screen 
--------------------------------------------------------------*/


.tables {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.tables td, .tables th {
  border: 1px solid #ddd;
  padding: 8px;
}  

.tables tr:nth-child(even){background-color: #f2f2f2;}

.tables tr:hover {background-color: #ddd;}

.tables th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#table_comments {
  display:none;
  margin-top: 5px;
  margin-bottom: 0px;
}

#unitcodes {
  display:none;
  font-size: 12pt;
  padding: 6px;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  align-items: center;
  background-color: blanchedalmond;
}

#unitcodelabels {
  display:none;
  font-size: 17pt;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

#years {
  display:none;
  font-size: 12pt;
  padding: 6px;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  align-items: center;
  background-color: blanchedalmond;
}

#yearlabels {
  display:none;
  font-size: 17pt;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

#semesterlabel {
  display:none;
  font-size: 17pt;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
  margin-right: 10px;
}


#semester {
  display:none;
  font-size: 12pt;
  padding: 6px;
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
  align-items: center;
  background-color: blanchedalmond;
}

